<div id="parallax-container">
	<div id="parallax-pane-1" class="parallax-pane" data-stellar-background-ratio="0.7">
		<div style="padding-top: 30px; margin-left: 50px;">
			<h2>Save companies you love. Apply with seamlessly.</h2>
			<br />
			<h3>Search through all the hottest startups!</h3>
			<form action="#" class="form-inline" role="form">
				<div class="row">
					<div class="col-md-8 col-xs-6" style="text-align:center;">
						<input type="text" class="form-control" placeholder="Email Address" style="width: 100%; display: inline-block;"/>
					</div>
					<div class="col-md-4 col-xs-6">
						<input class="btn" type="submit" value="Sign Up" />
					</div>
				</div>
			</form>
		</div>
	</div>
	<div id="parallax-pane-2" class="parallax-pane" data-stellar-background-ratio="1"></div>
	<div id="parallax-pane-3" class="parallax-pane" data-stellar-background-ratio="0.8">
		<div style="padding-top: 30px; margin-left: 50px;">
			<h1>For Students</h1>
			<div class="row">
			Icon and stuff here
			</div>
			<h2>Take a moment. Learn more about different internships.</h2>
		</div>
	</div>
</div>