<img class="company_logo" src="<%= company.LogoPath %>" /> 
	<span class="company_name">
		<a href="/#/company/<%= company.CompanyName %>">
			<%= company.CompanyName %> <%= company.visibleInSearch %>
		</a>
	</span>
	<br />
	<span class="company_slogan"><%= company.Slogan %></span>
<hr style="width: 90%; color: grey">
<div class="description_box">
	<span class="description">
		<%= company.Description %>
	</span>
</div>
<hr style="width: 90%; color: grey">
<span class = "icon_drawer">
	<img class="icon heart unselected" src="img/icons/heart_unselected.png"/>
</span>
