<div id="sort_div">
	<div class="sort_section active" data-sort-type="Popularity">By Popularity</div>
	<div class="sort_section" data-sort-type="Name">By Name</div>
</div>

<div id="filter_div">
	<div class="filter_section" data-target="#location_filter_container" data-toggle="collapse">
		Location
		<i class="fa fa-chevron-circle-left fa-2x chevron"></i>
	</div>
	<div class="collapse" id="location_filter_container">
		<div class="well">
		</div>
	</div>
	<div class="filter_section"  data-target="#employees_filter_container" data-toggle="collapse">
		Employees
		<i class="fa fa-chevron-circle-left fa-2x chevron"></i>
	</div>
	<div class="collapse" id="employees_filter_container">
		<div class="well">
		</div>
	</div>
</div>