<div id="navbarDiv"></div>
<div id="content_container">
	<div id="overview_panel">
		<div id="overview_content">
			<img class="company_logo img-circle" src="<%= company.LogoPath %>" />
			<br />
			<span class="welcome_text">
				Welcome to <%= company.CompanyName %>
			</span>
			<br />
			<span class="company_slogan">
				<%= company.Slogan %>
			</span>
			<br />
			<br />
			<button class="btn btn-primary">Apply to <%= company.CompanyName %></button>
			<button class="btn btn-default">Save</button>
		</div>
	</div>
	<div id="about_panel">
		<div class="about_section">
			<span class="heading">Vitals</span>
			<br />
			<div class="data_row">
				<div class="key">Location</div>
				<div class="value">San Francisco</div>
			</div>
			<div class="data_row">
				<div class="key">Size</div>
				<div class="value">11-50 employees</div>
			</div>
			<div class="data_row">
				<div class="key">Funding</div>
				<div class="value">
					$10M Series A in 2014
					<br />
					$2.1M in 2013
				</div>
			</div>
			<div class="data_row">
				<div class="key">Markets</div>
				<div class="value">Marketplaces, Logistics, Shipping, Collaborative Consumption</div>
			</div>
		</div>
		<div id="middle_about_section" class="about_section">
			<span class="heading">About</span>
			<br />
			<br />
			Shyp is the easiest way to ship your stuff.
			<br />
			<br />
			The mobile app provides an easy on demand shipping experience.
			<br />
			<br />
			A Shyp Hero comes to you, collects your items, then takes them away to be professionally packed and shipped to their destination. Shyp is transforming how you send items by replacing the traditional hassles with a delightful experience.
		</div>
		<div class="about_section">
			<span class="heading">Founders</span>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
