<div id="single_company_container">
	<div id="overview_panel">
		<div id="overview_content">
			<img class="company_logo img-circle" src="<%= company.LogoPath %>" />
			<br />
			<span class="welcome_text">
				Welcome to <%= company.CompanyName %>
			</span>
			<br />
			<span class="company_slogan">
				<%= company.Slogan %>
			</span>
			<br />
			<br />
			<button class="btn btn-primary">Apply to <%= company.CompanyName %></button>
			<button class="btn btn-default">Save</button>
		</div>
	</div>
	<div id="about_panel">
		<div id="company_vitals" class="about_section">
			Problem Loading Vitals
		</div>
		<div id="company_about" class="about_section">
			<div id="company_description_pane">
				<span class="heading">About</span>
				<br />
				<br />
				Problem Loading Company Descrption
			</div>
		</div>
		<div class="about_section">
			<div id="company_reviews">
				Reviews
				<br />
				<br />
				Problem Loading Company Reviews
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
