<span class="heading">Reviews (<%= glassdoorData.numberOfRatings %> reviews)</span>
<br />
<div class="data_row review_row">
	<div class="key">Career Opportunities</div>
	<div class="value"><%= glassdoorData.careerOpportunitiesRating %></div>
</div>
<div class="data_row review_row">
	<div class="key">Compensation</div>
	<div class="value"><%= glassdoorData.compensationAndBenefitsRating %></div>
</div>
<div class="data_row review_row">
	<div class="key">Culture And Values</div>
	<div class="value"><%= glassdoorData.cultureAndValuesRating %></div>
</div>
<div class="data_row review_row">
	<div class="key">Recommended To Friends</div>
	<div class="value"><%= glassdoorData.recommendToFriendRating %></div>
</div>
<div class="data_row review_row">
	<div class="key">Senior Leadership</div>
	<div class="value"><%= glassdoorData.seniorLeadershipRating %></div>
</div>
<div class="data_row review_row">
	<div class="key">Work Life Balance</div>
	<div class="value"><%= glassdoorData.workLifeBalanceRating %></div>
</div>
<br />
<a href='http://www.glassdoor.com/index.htm'>powered by <img src='http://www.glassdoor.com/static/img/api/glassdoor_logo_80.png' title='Job Search' /></a>