#login_div {
	text-align: center;
}

#page_title {
	font-size: 40px;
	color: #8D2C51;
}

#login_div #login_form_container {
	width: 50%;
	margin: 0 auto;
	text-align: left;
	color: #8D2C51;
}

#login_div #login_form_submit_btn {
	width: 100%;
}

#login_div #facebook_login_div {
	width: 100%;
	text-align: center;
}

#facebook_login_div #facebook_signup_button {
	max-height: 40px;
	cursor: pointer;
}