.company_tile {
	border: 1px solid black;
	padding: 10px;
	margin-left: 10px;
	margin-right: 10px;
	display: inline-table;
	width: 23%;
	height: 150px;
	margin-bottom: 20px;
}

.company_tile .description {
	text-overflow: ellipsis;
}

.company_tile .company_name {
	font-size: 20px;
}

.company_tile hr {
	margin-bottom: 3px;
	margin-top: 5px;
}

.company_tile .company_logo {
	max-height: 45px;
	max-width: 45px;
	margin-right: 5px;
	float: left;
}

.company_tile .company_slogan {
	color: grey;
	font-size: 12px;
}