<div id="login_div" class="container">
	<span id="page_title">Log In</span>
	<div id="login_form_container">
		<div id="facebook_login_div">
			<img src="/img/facebook_button.png" id="facebook_signup_button" />
		</div>
		<form role="form" action="">
		  <div class="form-group">
		    <label for="email_address_input">Email Address</label>
		    <input type="email" class="form-control" id="email_address_input" placeholder="Enter email">
		  </div>
		  <div class="form-group">
		    <label for="password_input">Password</label>
		    <input type="password" class="form-control" id="password_input" placeholder="Password">
		  </div>
		  <div id="incorrect_credentials_div">
			  Incorrect email/password combination
		  </div>
		  <button id="login_form_submit_btn" type="submit" class="btn btn-default">Log In</button>
		</form>
	</div>
</div>