<div id="navbarDiv"></div>
<div id="new_user" class="container">
	<span id="page_title">Join Us</span>
	<br />
	Already have an account? <a href="/#/login">Login here</a>
	<div id="new_user_form_container">
		<div id="facebook_login_div">
			<img src="/img/facebook_button.png" id="facebook_signup_button" />
		</div>
		<form role="form" action="">
		  <div class="form-group">
		    <label for="email_address_input">Email Address</label>
		    <div class="has-error" id="duplicate_email_text">Email taken</div>
		    <input type="email" class="form-control" id="email_address_input" placeholder="Enter email">
		  </div>
		  <div class="form-group">
		    <label for="password_input">Password</label>
		    <input type="password" class="form-control" id="password_input" placeholder="Password">
		  </div>
		  <div class="form-group">
		    <label for="confirm_password_input">Confirm Password</label>
		    <input type="password" class="form-control" id="confirm_password_input" placeholder="Confirm Password">
		  </div>
		  <div class="form-group">
		    <label for="first_name_input">First Name</label>
		    <input type="text" class="form-control" id="first_name_input" placeholder="First Name">
		  </div>
		  <div class="form-group">
		    <label for="last_name_input">Last Name</label>
		    <input type="text" class="form-control" id="last_name_input" placeholder="Last Name">
		  </div>
		  <button id="new_user_form_submit_btn" type="submit" class="btn btn-default">Sign Up</button>
		</form>
	</div>
</div>