<div id="navbarDiv"></div>
<div id="content_container">
	<div id="overview_panel">
		<div id="overview_content">
			<img id="profile_img" class="company_logo img-circle" src="img/profile_pic.png" />
			<!-- <br /> -->
			<span id="first_info">
				<div id="full_name">
					Travis Le
				</div>
				<div id="title_company_location">
					Cofounder at FindX | Student | Stanford, CA
				</div>
				<div id="degree_school">
					B.S. in Computer Science, Stanford University (2016)
				</div>
			</span>
			<br />
			<br />
			<a class="btn btn-default" href="/#/common_app/edit" id="sign_up_btn">Common Resume Application</a>
			<!-- <span id="contact_info">
				1.808.348.2673 | travis@findx.com
			</span> -->
		</div>
	</div>
	<div id="about_panel">
		<div class="about_section">
			<span class="heading">Relevant Experience</span>
			<hr/>
			<div class="experience">
				<div class="position_title">Cofounder</div>
				<div class="company_name">FindX</div>
				<div class="employment_time_location">November 2014 - Present | Stanford, CA</div>
				<ul class="employment_info">
					<li class="info_entry">Developed and designed the web-product with founder Andrew Khor</li>
					<li class="info_entry">Came up with company name</li>
					<li class="info_entry">Drew the cute penguin that never existed</li>
				</ul>
			</div>
			<div class="experience">
				<div class="position_title">Software Engineer Intern</div>
				<div class="company_name">Facebook</div>
				<div class="employment_time_location">June 2014 - September 2014 | Menlo Park, CA</div>
				<ul class="employment_info">
					<li class="info_entry">Integrated into the iOS Photos Team, developing for the main application</li>
					<li class="info_entry">Worked on a classified project with a subset of the team that will impact the way users view their photos</li>
					<li class="info_entry">Provided insightful feedback to the design</li>
					<li class="info_entry">Completed the project by the deadline or earlier</li>
					<li class="info_entry">Gained experience on how to efficiently work within large code bases</li>
					
				</ul>
			</div>
		</div>
		<div id="middle_about_section" class="about_section">
			<span class="heading">Education</span>
			<hr/>
			<div class="education">
				<div class="school_name">Stanford University</div>
				<div class="degree">M.S. in Computer Science</div>
				<div class="degree">B.S. in Computer Science</div>
				<div class="school_time">September 2012 - June 2016</div>
			</div>
		</div>
		<div class="about_section">
			<span class="heading">Skills</span>
			<hr/>
			<div class="skill">
				<div class="key">Objective C</div>
				<div class="value">Mastery</div>
			</div>
			<div class="skill">
				<div class="key">Javascript</div>
				<div class="value">Proficient</div>
			</div>
			<div class="skill">
				<div class="key">C++</div>
				<div class="value">Proficient</div>
			</div>
		</div>
		<div style="clear: both;"></div>
	</div>
</div>
